<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>出欠入力</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>

<body>
    <div class="container">
    <form method="POST" action="/input">
        <p>
            <label for="date" class="form-label">日付</label>
            <input name="date" class="form-control" id="date" type="date">
        </p>
        <p>
            <label for="lesson-name" class="form-label">授業名</label>
            <input name="lesson-name" class="form-control" id="lesson-name" type="text">
        </p>
        <p>
            <label for="koma" class="form-label">コマ</label>
            <select name="koma" class="form-select" id="koma">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>
        </p>
        <table class="table">
            <tr>
                <th>
                    出席番号
                </th>
                <th>
                    氏名
                </th>
                <th>
                    出席
                </th>
            </tr>
            {% for student in students %}
            <tr>
                <td>
                    {{student[0]}}
                </td>
                <td>
                    {{student[1]}}
                </td>
                <td>
                    <input type="checkbox" class="form-check-input" name="student-{{student[0]}}" id="" checked>
                </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" class="btn btn-primary" value="送信">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</div>
</body>

</html>